Hallo <%= @user.nick %> 
<% unless @current_session.belongs_to_current_site? %>
	(gast auf dieser Seite)
<% end %>

<br>
<%= link_to image_tag("door_in.png") + " meine Startseite", start_profiles_path %><br>
<%= link_to image_tag("user_go.png") + " mein Profil", profile_path(@user) %>
<%= link_to image_tag("pencil.png"), edit_profile_path(@user) %><br>

<% unless @user.new_messages > 0 %>
	<%= link_to image_tag("email.png") + " Nachrichten", messages_path %><br>
<% else %>
	<%= link_to image_tag("email_open.png") + " Nachrichten", messages_path %><%= " <b>(#{@user.new_messages})</b>" %><br>
<% end %>
<%= link_to image_tag("group.png") + " meine Clans", clans_path(:subdomain => false) %><br>
<%= link_to image_tag("user.png") + " meine Freunde", friend_path(@user.id) %><br>
<%= link_to image_tag("help.png") + " Hilfe (Tickets)", tickets_path() %><br><br>


<div id="admin_links">
	<%= link_to image_tag("user_edit.png") + " User verwalten", :controller => "squads" if @user.owns_current_clan?%><br>
	<%= access_link image_tag("monitor_edit.png") + " Seite bearbeiten", :controller => "template_boxes" %><br>
	<%= access_link image_tag("page_world.png") + " Template verwalten", templates_path%><br />
</div>

<br>
<%= link_to image_tag("door_out.png") + " logout", :controller => "login", :action => "logout" %>
