<div id="poll<%= poll.id %>">
	Titel: <%= poll.title %> <br />
	Status: <%= poll.status %> 
	<%= access_link_if poll.open?, "schließen", close_poll_path(poll) %>
	<%= access_link_if poll.close?, "öffnen", open_poll_path(poll) %>
	<br />
	Beschreibung: <%= poll.description %> <br />
  <%= access_link "details", poll_path(poll)  %>
  <%= access_link "bearbeiten", edit_poll_path(poll) %>

	<br /><br />
</div>