<tr>
<td><%= link_to poll.title, poll_path(poll) %> <%= intern_pic poll %> </td>
<td class="dark"><%= poll.status %> </td>
<td><%= username(poll.user) %></td>
<td><%= l poll.created_at, :format => "short" %> </td>
<td>
  <%= access_link image_tag("pencil.png"), edit_poll_path(poll) %>
  <%= access_link_if poll.open?, "schließen", close_poll_path(poll) %>
  <%= access_link_if poll.close?, "öffnen", open_poll_path(poll) %>
</td>
</tr>