<h1>edit Poll #<%= @poll.id %></h1>

<% error_handling_form_for @poll do |form| %>
  <%= form.text_field :title, :label => "Titel:" %>
  <%= form.text_field :description, :label => "Beschreibung:" %>

  <div id="poll_options">
    <%= render :partial => 'newoption', :collection => @poll.poll_options %>
  </div>
    <p><%= add_option_link "Add an option" %></p>
  <%= form.submit "abschicken" %>
<% end %>