<h1>Poll: <%= @poll.title %></h1>
<%# init_progress_bar %>
<dl>
<% for option in @poll.poll_options %>
	<dt><%= option.name %></dt><dd> <%= option.vote_count.to_s %></dd>
	<%#= progress_bar %>
	
<% end %>
</dl>

<!-- 
<% for option in @poll.poll_options %>
	<%= option.name %><br><%= option.vote_count.to_s %><%= progressbar ((option.vote_count.to_f/@poll.vote_count.to_f)*100).to_i %><br><br>
<% end %>
-->

<%= show_comments @poll %>