<h1>Poll: <%= @poll.title %></h1>

<table class="simple-table">
<% for option in @poll.poll_options %>
	<tr>
		<td style="width:30%" class="dark"><%= option.name %></td>
		<td><%= progressbar ((option.vote_count.to_f/@poll.vote_count.to_f)*100).to_i %>(<%= option.vote_count.to_s %>)</td>
	</tr>
<% end %>
</table>
<br>
<%= show_comments @poll %>