<h1>beantworten</h1>

<% error_handling_form_for @message, :url => create_message_path(@message), :html => {:method => :post} do |form| %>
  <p><label>Empfänger</label>: <%= @message.sender.nick %></p>
  <%= form.hidden_field :receiver_id, :style => "blank" %>

  <%= form.text_field :subject, :value  => "Re: " + @message.subject, :label => "Betreff" %>
  <%= form.text_area :message, :value  => render_reply_text(@message.message), :label => "Nachricht" %>
  
  <%= form.submit "abschicken" %>
<% end %>