<div id="guestbook_<%= guestbook.id %>">
	<h2>
            <%= guestbook.name %> 
            am <%= german_date_with_time(guestbook.created_at) %>
            <%= mail_to guestbook.email, image_tag("email.png", :border => 0), :encode => "hex" unless guestbook.email.blank? %>
            <%= link_to image_tag("world_link.png", :border => 0), {:url => guestbook.url}, {:target => "_new"} unless guestbook.url.blank? %>
        </h2>
	<%= guestbook.entry %><br>
	<%= link_to_function image_tag("comment_add.png", :border => 0),
				"Element.toggle('add_comment_#{guestbook.id}')" %>
        <%= link_to_remote image_tag("delete.png", :border => 0), :url => {:action => "delete", :id => guestbook.id} %>
	<% if guestbook.comment %>
		<%= render :partial => 'comment', :object => guestbook %>
	<% else %>
	<div id="add_comment_<%= guestbook.id %>" style="display:none;">
		<% form_tag :action => 'add_comment', :id => guestbook.id do%>
			<%= text_area :guestbooks, "comment", :rows => 2, :cols => 25 %>
			<%= submit_tag 'Add' %>
		<% end %>
	</div>
	<% end %>
</div>