<div id="guestbook_<%= guestbook.id %>">
	<h2>
            <%= guestbook.name %> 
            am <%= german_date_with_time(guestbook.created_at) %>
            <%= mail_to guestbook.email, image_tag("email.png", :border => 0), :encode => "hex" unless guestbook.email.blank? %>
            <%= link_to image_tag("world_link.png", :border => 0), {:url => guestbook.url}, {:target => "_new"} unless guestbook.url.blank? %>
        </h2>
	<%= guestbook.entry %><br>
          
        <%  if accessible?({:action => 'add_comment'}) and not guestbook.comment %>
	<%= link_to_function image_tag("comment_add.png", :border => 0),
				"Element.toggle('add_comment_#{guestbook.id}')" %>
        <% end %>

        <%  if accessible?({:action => 'delete'}) %>
            <%= link_to_remote image_tag("delete.png", :border => 0), :url => {:action => "delete", :id => guestbook.id} %>
        <% end %>

        <% if guestbook.comment %>
		<%= render :partial => 'comment', :object => guestbook %>
	<% else %>
        <%  if accessible?({:action => 'add_comment'}) %>

	<div id="add_comment_<%= guestbook.id %>" style="display:none;">
		<% error_handling_form_for :guestbooks, :action => 'add_comment', :id => guestbook.id do |f| %>
			<%= f.text_area "comment", :rows => 2, :cols => 25 %>
			<%= f.submit 'hinzufügen' %>
		<% end %>
	</div>
        <% end %>
	<% end %>
</div>