<h1>Gästebuch</h1>

<div class="userlinks">
<%= link_to_function( image_tag("note_add.png") + "Eintrag hinzufügen", "Element.show('add_guestbook')", :id => "add_link")%>
</div>

<div id="add_guestbook" style="display:none;">
	<% error_handling_form_for @guestbook do |f| %>
		<%= f.text_field :name %>
        <%= f.text_field :email %>
        <%= f.text_field :url %>
		<%= f.text_area :entry, :rows => 2, :cols => 25 %>
		<%= f.submit 'hinzufügen' %>
	<% end %>
</div>

<%= entry_and_pagination @guestbooks %>
<br>
<div id="guestbook_list">
<%= render :partial => 'guestbook', :collection => @guestbooks %>
</div>