<h1>Gästebuch</h1>

<p id="add_link"><%= link_to_function("Eintrag hinzufügen",
	"Element.remove('add_link');Element.show('add_guestbook')")%>
</p>

<div id="add_guestbook" style="display:none;">
	<% form_remote_tag :url => {:action => 'new'}, :html => {:id => 'guestbook_form'} do%>
		Name: <%= text_field :guestbooks, "name" %>
<br>
                Email: <%= text_field :guestbooks, "email" %><br>
                Url: <%= text_field :guestbooks, "url" %><br>
		Eintrag: <%= text_area :guestbooks, "entry", :rows => 2, :cols => 25 %>
		<%= submit_tag 'Add' %>
	<% end %>
</div>

<div id="guestbook_list">
<%= render :partial => 'guestbook', :collection => @guestbook %>
</div>

<%= will_paginate @guestbook %>