<h1><%= @thread.title %> </h1>
<%= access_link "Antworten", :controller => "forum_message", :action => "new", :id => params[:id] %><br>
<%= will_paginate @messages %><br>
<%= render :partial => "message", :collection => @messages %>

<%= will_paginate @messages %>