<h1><%= @anchor.title %></h1>
<h2><%#= @forum.subtitle %></h2>

<br>

<%= access_link "Neuen Thread erstellen", new_thread_link(@anchor)  %>
<h2>Threads:</h2>

<%= will_paginate @threads %>
<%= page_entries_info @threads %>

<%= render :partial => "forum_thread/thread", :collection => @threads %>

<%= will_paginate @threads %>
