<div id="clanwar_<%= clanwar.id %>">
	Squad: <%= clanwar.squad.name unless clanwar.squad.nil? %> <br />
	Gegner: <%= clanwar.opponent %> <br />
	<% if clanwar.score > clanwar.score_opponent %>
	  <font color="green">Ergebnis: <%= clanwar.score %> : <%= clanwar.score_opponent %> </font><br />
  <% elsif clanwar.score < clanwar.score_opponent%>
    <font color="red">Ergebnis: <%= clanwar.score %> : <%= clanwar.score_opponent %> </font><br />
  <% else %>
    <font color="yellow">Ergebnis: <%= clanwar.score %> : <%= clanwar.score_opponent %> </font><br />
  <% end %>
  gespielt am: <%= l clanwar.played_at %> <br />
  <%= link_to "details anzeigen", clanwar_path(clanwar) %><br />
 <%= access_link "bearbeiten", edit_clanwar_path(clanwar) %>
	<br /><br />
</div>