<tr>
<td> <%= link_to clanwar.opponent, clanwar_path(clanwar) %></td>
<td>	
<% if (clanwar.score > clanwar.score_opponent) %>
	  <font color="green"><%= clanwar.score %> : <%= clanwar.score_opponent %> </font><br />
  <% elsif clanwar.score < clanwar.score_opponent%>
    <font color="red"><%= clanwar.score %> : <%= clanwar.score_opponent %> </font><br />
  <% else %>
    <font color="yellow"><%= clanwar.score %> : <%= clanwar.score_opponent %> </font><br />
  <% end %>
</td>
<td><%= l clanwar.played_at, :format => "short" %> </td>
<td> <%= access_link image_tag("pencil.png"), edit_clanwar_path(clanwar) %> </td>
</tr>