<div class="clanwarmap">
<% fields_for "clanwar[clanwarmap_attributes][]", newmap, :builder => ErrorHandlingFormBuilder do |clanwarmap_form| %>
    <%= clanwarmap_form.text_field :name, :index => nil, :label => "Map" %>
    Score: <%= clanwarmap_form.text_field :score, :index => nil, :style => "blank", :size => "5" %>:<%= clanwarmap_form.text_field :score_opponent, :index => nil, :style => "blank", :size => "5" %>
    
    <% if newmap.new_record? %>
      <%= link_to_function "remove", "$(this).up('.clanwarmap').remove()" %>
    <% else %>
      <%= link_to_function "remove", "mark_for_destroy(this)" %>
      <%= clanwarmap_form.hidden_field :id, :style => "blank", :index => nil %>
      <%= clanwarmap_form.hidden_field :should_destroy, :style => "blank", :index => nil, :class => 'should_destroy' %>
    <% end %>
<% end %>
</div>