<h1>Clanwars</h1>

<% @squads.each do |squad| %>
<%= "Clanwars für #{squad.name}"%><br>
<% clanwars = squad.clanwars.paginate :page => nil, :per_page => 5 %>
<%= page_entries_info clanwars %> <%= link_to "alle Clanwars von #{squad.name}", clanwars_path(:squad_id => squad.id) %>
<ul id="clanwar_list">
<%= render :partial => "clanwar", :collection => clanwars %>
</ul>

<% end %>

<br /><br />
<%= access_link image_tag("add.png") + "Clanwar hinzufügen", new_clanwar_path %>