<h1>Clanwar</h1>
<div id="clanwar_<%= @clanwar.id %>">
	Squad: <%= @clanwar.squad.name unless @clanwar.squad.nil? %> <br />
	Gegner: <%= @clanwar.opponent %> <br />
	<% if @clanwar.score > @clanwar.score_opponent %>
	  <font color="green">Ergebnis: <%= @clanwar.score %> : <%= @clanwar.score_opponent %> </font><br />
  <% elsif @clanwar.score < @clanwar.score_opponent%>
    <font color="red">Ergebnis: <%= @clanwar.score %> : <%= @clanwar.score_opponent %> </font><br />
  <% else %>
    <font color="yellow">Ergebnis: <%= @clanwar.score %> : <%= @clanwar.score_opponent %> </font><br />
  <% end %>
  gespielt am: <%= l @clanwar.played_at %> <br /><br />
  <h2>Maps</h2>
<% if @clanwar.clanwar_maps.empty? %>
	keine Maps eingetragen
<% else %>
  <%= render :partial => "map", :collection => @clanwar.clanwar_maps %>
<% end %>
</div>
Screenshots:<br>
<% @clanwar.clanwar_screenshots.each do |screenshot| %>
	<%= link_to image_tag(screenshot.screenshot.url(:thumb)), screenshot.screenshot.url(:large) %>
<% end %>
<br>

<%= access_ajax_tooltip "screen hochladen", :update_url => new_clanwar_clanwar_screenshot_path(@clanwar) %>

<br>

<%= show_comments @clanwar %>