<h1><%= @gallery_pic.name %></h1>
<div class="userlinks">
	<%= access_link image_tag("folder_delete.png") + " löschen", pic_path(@gallery_pic), :controller => "gallery_pic", :method => "delete", :confirm => "Wirklich löschen?" %>
	<%= access_link image_tag("folder_edit.png") + " bearbeiten", edit_pic_path(@gallery_pic)%><br>
</div>

<div>
	<div style="float:left"><%= link_to_unless @prev_pic.nil?, "zurück", pic_path(@prev_pic || 1) %></div>
	<div style="float:right"><%= link_to_unless @next_pic.nil?, "vor", pic_path(@next_pic || 1) %></div>
</div>

<div class="gallery_pic">
<%= link_to image_tag(@gallery_pic.pic.url(:medium)), @gallery_pic.pic.url(:original) %>
</div>

<dl class="meta">
	<dt>Beschreibung</dt><dd><%= @gallery_pic.description %></dd>
	<dt>von</dt><dd><%= username(@gallery_pic.user) %></dd>
	<dt>am</dt><dd><%= l @gallery_pic.created_at %></dd>
	<dt>Rating</dt><dd><%= rating_for @gallery_pic %></dd>
</dl>

<div style="height:25px"></div>

<%= show_comments @gallery_pic %>