<h1>Listing testings</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for testings in @testings %>
  <tr>
    <td><%=h testings.name %></td>
    <td><%= link_to 'Show', testings %></td>
    <td><%= link_to 'Edit', edit_testings_path(testings) %></td>
    <td><%= link_to 'Destroy', testings, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New testings', new_testings_path %>
