<li id="forum_category_<%=  category.id %>">
    
        <%= link_to category.title, forum_category_path(category.id) %>
        (<%= category.forum_threads.count %>)

  <span id="category_links_<%= category.id %>">
    <%= link_to_remote(image_tag("folder_add.png", :border => "0", :id => "folder_add_img_#{category.id}"), :url => {:action => "new", :id => category.id},
                     :loading => "Element.show('loading_#{category.id}');",
                     :loaded => "Element.hide('loading_#{category.id}')")%>
    <%= link_to_remote(image_tag("folder_edit.png", :border => "0", :id => "folder_update_img_#{category.id}"), :url => {:action => "edit", :id => category.id},
                     :loading => "Element.show('loading');",
                     :loaded => "Element.hide('loading')")%>
    <%= link_to_remote(image_tag("folder_delete.png", :border => "0", :id => "folder_del_img_#{category.id}"), :url => {:action => "delete", :id => category.id},
                     :loading => "Element.show('loading');",
                     :loaded => "Element.hide('loading')")%>
  <%= popup("create_category_form", "category_popup_space_#{category.id}") %>
    <span id="loading_<%= category.id %>" style="display:none;"><%= image_tag("loading.gif", :border => 0) %></span>
    
  </span>
  
  <br><small><%= category.subtitle %> </small>
  <span id="category_popup_space_<%= category.id %>" style="display:none;">
  
  </span>
<br>

  <% unless category.children.empty? %>
    <ul><%= render :partial => 'category', :collection => category.children %></ul>
  <% end %>  
</li>