<div class ="category_form" id="category_form_container_<%= params[:id] %>"> 
    <div class="category_form_title">
        <%= link_to_function image_tag("cross.png") do |page|
            page.remove "category_form_container_#{params[:id]}"
            page.show "category_links_#{params[:id]}"
        end %>
    </div>
        <% form_remote_tag :url => {:action => "create_category", :id => params[:id]}, 
                       :html => {:id => "create_category_#{params[:id]}"} do  %>

          <p><label for="forum_category_title">Title</label>
          <%= text_field(:forum_category, :title) %></p>
          
          <p><label for="forum_category_subtitle">Subtitle</label>
          <%= text_field(:forum_category, :subtitle) %></p>
          
            <%= submit_tag "create"%>
    <% end %>

</div>