<tr>    
<td>        <%= link_to forum.title, [forum, "forum_threads"] %> <%= intern_pic forum %><br><%= forum.subtitle %></td>
<td>        <%= forum.threads_count %>/ </td>
<td>		<%= l Time.now, :format => "short2rows"%> </td>
<td>
  <span id="forum_links_<%= forum.id %>">
    <%= access_link image_tag("folder_edit.png"), edit_forum_path(forum) %>
    <%= access_link image_tag("folder_delete.png"), forum_path(forum), :method => "delete", :confirm => "Wirklich löschen?" %>

    <span id="loading_<%= forum.id %>" style="display:none;"><%= image_tag("loading.gif", :border => 0) %></span>
    
  </span>
  
  <br><small> </small>
  <span id="forum_popup_test_<%= forum.id %>" style="display:none;">
  
  </span>
  <span id="forum_popup_space_<%= forum.id %>" style="display:none;">
  
  </span>
<br>
</td>
</tr>