<li id="forum_<%=  forum.id %>">
    
        <%= link_to forum.title, forum_path(forum) %>
        (<%= forum.forum_threads_count %>)

  <span id="forum_links_<%= forum.id %>">
    <%= access_link image_tag("folder_edit.png"), edit_forum_path(forum) %>
    <%= access_link image_tag("folder_delete.png"), forum_path(forum), :method => "delete", :confirm => "Wirklich löschen?" %>

    <span id="loading_<%= forum.id %>" style="display:none;"><%= image_tag("loading.gif", :border => 0) %></span>
    
  </span>
  
  <br><small><%= forum.subtitle %> </small>
  <span id="forum_popup_test_<%= forum.id %>" style="display:none;">
  
  </span>
  <span id="forum_popup_space_<%= forum.id %>" style="display:none;">
  
  </span>
<br>


</li>