<li id="forum_<%=  forum.id %>">
    
        <%= link_to forum.title, forum_path(forum) %>
        (<%= forum.forum_threads_count %>)

  <span id="forum_links_<%= forum.id %>">
    <%= link_to_remote(image_tag("folder_edit.png", :border => "0", :id => "folder_update_img_#{forum.id}"), :url => {:action => "edit", :id => forum.id},
                     :loading => "Element.show('loading');",
                     :loaded => "Element.hide('loading')")%>
    <%= link_to_remote(image_tag("folder_delete.png", :border => "0", :id => "folder_del_img_#{forum.id}"), :url => {:action => "delete", :id => forum.id},
                     :loading => "Element.show('loading');",
                     :loaded => "Element.hide('loading')")%>
  <%# popup("create_category_form", "category_popup_test_#{category.id}") %>
    <span id="loading_<%= forum.id %>" style="display:none;"><%= image_tag("loading.gif", :border => 0) %></span>
    
  </span>
  
  <br><small><%= forum.subtitle %> </small>
  <span id="forum_popup_test_<%= forum.id %>" style="display:none;">
  
  </span>
  <span id="forum_popup_space_<%= forum.id %>" style="display:none;">
  
  </span>
<br>


</li>