<%= render :partial => "category_history", :object => @category.parent_id %>

<h1><%= @category.title %></h1>
<h2><%= @category.subtitle %></h2>
subcategories: 
<% @subcategories.each do |s| %>
    <%= link_to s.title, :id => s.id %>
<% end %>
<br>
<%= link_to "New Thread", :controller => "forum_thread", :action => "new", :id => @category.id  %>
<h2>Threads:</h2>
<%= render :partial => "thread", :collection => @threads %>