<h2>rights management</h2>
<%if flash[:notice]%><p style="color: green"><%= flash[:notice] %></p>
<%else%>
  <p>&nbsp;</p>
<%end%>
<%if flash[:error]%><p style="color: red"><%= flash[:error] %></p>
<%else%>
  <p>&nbsp;</p>
<%end%>

<%form_tag :controller => 'rights_management' do %>
  <div style="float:left">
    <div>&nbsp;</div>
    <%= render :partial => 'member_list' %>
  </div>

  <%unless @user.nil?%>
    <div style="float:left">
      <div><%= "Module von "+@user.nick+":" %></div>
      <%= render :partial => 'components_for_user' %>
  
    </div>
    <div style="float:left">
      <div>&nbsp;</div>
      <%= submit_tag "&lt;-", {:name => 'add'}%>
    </div>
    <div>
      <div>&nbsp;</div>
      <%= render :partial => 'component_list' %>
    </div>
    <div>
      <%= submit_tag "[x]", {:name => 'del'} %>
    </div>
  <%end%>
<%end%>


<%#=@add_component.name%>

<%rescue NoMethodError%>
<%= "rescued: "+$! %>
