<h1>Gruppe <%= @group.name %></h1>

<% if @group.founder == @user %>
	<%= link_to "Mitglieder verwalten", administrate_group_path(@group)%>
	<%= link_to "Gruppe bearbeiten", edit_group_path(@group)%>
<% end %>

<h3>Beschreibung</h3>
  <%= @group.description %><br />

<h3>Gründer</h3>
  <%= @group.founder.login %>

<h3>Status</h3>
  <% if (@user.status_for_group @group) == "active" %>
    Du bist Mitglied 
	<%= link_to("verlassen", leave_group_path(@group), :confirm => "Bist du dir sicher, dass du die Gruppe verlassen möchtest?") unless (@group.founder == @user) %>
  <% elsif (@user.status_for_group @group) == "pending" %>
    Deine Mitgliedschaft wird überprüft
  <% else %>
    <%= link_to "Mitglied werden", join_group_path(@group) %> 
  <% end %>

<h3>Mitglieder</h3>
  <%= render :partial => 'user', :collection => @active_memberships %>


<%= access_link "Neuen Thread erstellen", new_group_thread_path(@group)  %>
<h2>Threads:</h2>
<%#= will_paginate @group.threads %>

<%= render :partial => "forum/thread", :collection => @group.forum_threads %>