<h1>Example</h1>

<% if @examples.nil? %>
  <%= "<H1>nil</H1>" %>
<%else%>
    <% @accs.each do |acc|%>
<%end%>
<%= "Bitfield: #{@bf}" %>
  <%= @examples.class %>
  <% @examples.each do |e| %>
    example
    <%= e.title %>
    <br/>
    <%= e.site_id.to_s %>
  <%end%>

    <%= 'form_tag'  %>
<%= @userid.inspect %>
<br/>
<br/>
<br/>
<% @accs do |acc|%>
<%= 'hallo' %>
<%= acc.inspect %>
<%end%>
<%= session[:account_id].inspect %>
<%end%>
