<h1>Clan: <%= @clan.name %></h1>
<table class="simple-prop">
	<tbody>
		<tr>
			<td rowspan="4"><%= image_tag(@clan.clan_pic.url(:thumb))%></td>
			<th>Name</th>
			<td><%= @clan.name %></td>
		</tr>
		<tr>
			<th>Clan-ID</th>
			<td><%= @clan.uniq %></td>
		</tr>
		<tr>
			<th>dabei seit</th>
			<td><%= l @clan.created_at, :format => "datelong" %></td>
		</tr>
		<tr>
			<th>Link</th>
			<td><%= link_to "link", root_path(:subdomain => @clan.uniq) %></td>
		</tr>
		<tr><th colspan="3" class="title">Squads</th></tr>
<% @clan.squads.each do |squad| %>
		<tr>
			<th><%= squad.name %></th>
			<td colspan="2">
				<% squad.squad_users.each do |squad_user|%>
					<%= username(squad_user.user) %>
				<% end %>
			</td>
		</tr>
<% end %>
	</tbody>
</table>

<div style="height:25px"></div>

<%= show_comments @clan %>