<div id="news_<%= news.id %>">
	Titel: <%= link_to news.title, onenews_path(news) %> <%= intern_pic news %><br />
	Kategorie: <%= news.category.name unless news.category.nil?%><br />
	Tags: <%= news.tag_list.join(" ") %> <br />
  	erstellt: <%= l news.created_at, :format => :long %> <br />
	Kurztext: <%= news.subtext %> <br />

	<%= access_link image_tag('delete.png', :border => 0), onenews_path(news), :method => :delete, :confirm => "Möchten sie diese News wirklich löschen?" -%>
	<%= access_link image_tag("page_edit.png", :border => 0), edit_onenews_path(news) %>
	<br /><br />
</div>