<div id="news_<%= news.id %>">
	Überschrift: <%= link_to news.title, :action => 'show', :id => news.id %> <br />
	
	Tags:
	<% news.tag_list.each do |t| %>
	  <%= t %>
	<% end %>
	<br />
  created: <%= german_date_with_time(news.created_at) %> <br />
	updated: <%= german_date_with_time(news.updated_at) %><br />
	Teaser: <%= news.subtext %> <br />

	<%= access_link image_tag('delete.png', :border => 0), onenews_path(news), :method => :delete, :confirm => "Möchten sie diese News wirklich löschen?" -%>
	
	<%= access_link image_tag("page_edit.png", :border => 0), edit_onenews_path(news) %>
	<br /><br />
</div>