<h1><%= t "news.welcome" %></h1>

<ul id="news_list">
<%= render :partial => "news", :collection => @news %>
</ul>
<%= page_entries_info @news %>
<%= will_paginate @news%>
<br /><br />
<%= access_link "Neue News erstellen", new_onenews_path %>
<%= categories_link "News" %>
<br /><br />

<%= cloud(@tags) %> 