<h1>News Übersicht</h1>

<div class="userlinks">
	<%= access_link "Neue News erstellen", new_onenews_path %> <%= categories_link "News" %>
</div>

<%= entry_and_pagination @news %>

<%= render :partial => "news", :collection => @news %>

<%= cloud(@tags) %> 