<h1>News</h1>

<ul id="news_list">
<%= render :partial => "news", :collection => @news %>
</ul>

<%= will_paginate @news%>
<br />
<%= access_link "Neue News erstellen", new_onenews_path %>
<%= access_link "Kategorien bearbeiten", category_path("News")%>
<br /><br />

<%= cloud(@tags) %> 
