<%= error_messages_for 'news' -%>

<h1>Post new News</h1>
<% form_tag :action => 'create' do %>

	<p><label for="news_title">Title</label>
	<%= text_field 'news', 'title' %></p>

	<p><label for="news_subtext">Subtext</label>
	<%= text_field 'news', 'subtext' %></p>
	
	<p><label for="news_news">Text</label>
	<%= text_field 'news', 'news' %></p>
	
	<%= text_field_with_auto_complete :news,
	                                  :tags,
	                                  { :value  => 'tags',
	                                    :size  => '20', 
	                                    :tokens => ','},
	                                  :indicator => 'status-indicator' %>
	                                  
	<%= text_field_with_auto_complete 'news',
	                                  'tags',
	                                  { :size => 50 },
	                                  { :tokens => ','}%>
  
  
                    <span id="status-indicator" style="display: none"><%= image_tag("loading.gif", :border  => "0") %></span>
	<br /><br />
	vorhandene Tags:<br />
	<%= cloud(@tags) %>
	<br /><br />
	<%= submit_tag "Create" %>
<% end %>
 
<br />
<%= link_to "Back", :action => "index" %>