<% if @articles.blank? %>
  <p>Bisher noch keine Artikel.</p>
<% else %>
  <p>Alle Artikel dieser Seite:</p>

<ul id="articles">

<% @articles.each do |a| %>
  <li>
    
    <%= link_to a.title, article_path(a) -%>
    von <%= a.user.nick %>
    <%= access_link image_tag("folder_edit.png"), edit_article_path(a) %>
    <%= access_link image_tag("folder_delete.png"), article_path(a.id), :method => "delete", :confirm => "Wirklich löschen?" %>
    
  </li>
<% end %>

</ul>
<% end %>
<p><%= access_link image_tag("folder_add.png") + "Artikel hinzufügen", new_article_path %></p>