<h1><p>Title: <%= @article.title %></p></h1>
von <%= @article.user.nick %> vor <%= time_ago_in_words @article.created_at %>
<p><%= @article.content %></p>
<%= rating_for @article %>

<%= show_comments @article  %>