<h1><%= @article.title %></h1>
von <%= username(@article.user) %> vor <%= time_ago_in_words @article.created_at %>
<p><%= @article.content %></p>
<%= rating_for @article %>

<%= show_comments @article  %>