<h1>Tickets</h1>

<div class="userlinks">
	<%= link_to 'Neues Ticket', new_ticket_path %>
	<% supporter_area do %>
		<%= link_to "Kategorien bearbeiten", category_path("Ticket")%>
		<%= link_to "Status verwalten", category_path("Ticket", :section => "status")%>
	<% end %>
</div>
<%= entry_and_pagination @tickets %>

<table class="simple-table" style="width:100%">
  <thead>
    <th>Betreff</th>
    <th>Von</th>
    <th>Verantwortlich</th>
    <th>erstellt</th>
    <th>update</th>
	<th></th>
  </thead>
  <tbody>
	<%= render :partial => 'ticket', :collection => @tickets%>
  </tbody>
</table>