<h1>Ticket</h1>

<table class="simple-prop">
	<tbody>
		<tr>
			<th>Betreff</th>
			<td><%= @ticket.subject %></td>
		</tr>
		<tr>
			<th>Kategorie</th>
			<td><%= @ticket_category.name %></td>
		</tr>
		<tr>
			<th>Status</th>
			<td><%= @ticket_status.name %></td>
		</tr>
		<% supporter_area do %>
		<tr>
			<th>Admin</th>
			<td><% error_handling_form_for @ticket do |form| %>
				  <%= form.select :status_id, Category.global_for_select("Ticket", "status")%>
				  <%= form.select :admin_id, [["keiner", nil]] + User.get_supporter_for_select %>
				  <%= form.submit "ändern" %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<h2>Nachrichten</h2>
<table class="simple-post" style="width:100%">
	<tbody>
<%= render :partial => "message", :collection => @messages %>
	</tbody>
</table>

<h2>Antwort</h2>
<% error_handling_form_for @answer do |form| %>
      <%= form.hidden_field :ticket_id, :value => @ticket.id, :style => "blank" %>
      <%= form.text_area :message, :rows => 5, :cols => 30%>
      <%= form.submit "erstellen" %>
<% end %>