<h1>Insert new Event</h1>
<% error_handling_form_for :event, @event, :url => {:action => "create", :id => params[:id]}, :html => { :multipart => false } do |form| %>
  
  Name: <%= form.text_field :name, :style => "blank" %><br />
  Datum: <%= form.text_field :date, :style => "blank" %> <%= calendar_for('event_date') %><br />
  Uhrzeit: <%= time_picker(Time.now, {:minute_step => 30, :time_separator => ":", :prefix => "event", :field_name  => "time" }) %><br />
  Beschreibung: <%= form.text_field :description, :style => "blank" %><br />
  
  <br />
  <%= form.submit "abschicken" %>
<% end %>