
<tr>
<td style="width:210px;padding-right:0px">
<% unless gallery.category_pic.nil? %>
	<%= link_to image_tag(gallery.category_pic.url(:thumb)), gallery_path(gallery) %>
	<%= link_to image_tag(gallery.gallery_pics.rand.pic.url(:thumb)), gallery_path(gallery) %>
<% end %>
</td>

<td style="padding-left:2px" class="dark">
	<dl>
		<dt>Name</dt>
		<dd><%= link_to gallery.name, gallery_path(gallery) %> <%= intern_pic gallery %></dd>
		
		<dt>Beschreibung</dt>
		<dd><%= gallery.description %>&nbsp;</dd>
		
		<dt>erstellt</dt>
		<dd><%= l gallery.created_at, :format => "datelong" %></dd>
	</dl>
	
<%= access_link image_tag("folder_delete.png"), gallery_path(gallery), :controller => "gallery", :method => "delete", :confirm => "Galerie wirklich löschen?"  %>
<%= access_link image_tag("folder_edit.png"), edit_gallery_path(gallery) %>
</td>

</tr>