<h1>Listing squads</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for squad in @squads %>
  <tr>
    <td><%=h squad.name %></td>
    <td><%= link_to 'Show', squad %></td>
    <td><%= link_to 'Edit', edit_squad_path(squad) %></td>
    <td><%= link_to 'Destroy', squad, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New squad', new_squad_path %>
