<% if flash[:errors] %>
    <% flash[:errors].each_full do |msg| %>
  <div style="background:yellow;">
      <%=  msg %>
    </div>
  <% end %>
<% end %>


<% form_for(User.new) do |usr| %>
  <%= usr.label :login, 'nick' %>
  <%= usr.text_field :login %>
  <br/>
  <%= usr.label :password, 'password' %>
  <%= usr.password_field :password %>
  <br/>
  <%= usr.label :email, 'email' %>
  <%= usr.text_field :email %>
  <%  options = String.new ;@pages.each do |page|%>
    <% options << "\n<option value="+page.id.to_s+">"+page.title+" </option>" %>
  <%end%>
  <%= select_tag 'site_id', options%>
  <%= button_to 'send' %>
<%end%>
