<h1>Navigation bearbeiten</h1>
<%= ajax_tooltip_if (NavigationTemplate.templates_free? || Page.pages_free?), image_tag("application_add.png") + " Navigationspunkt erstellen", 
            :update_url => new_navigation_path(:template_box_id => params[:template_box_id]), 
            :id => "new_navigation",
 			:alternate_text => "es gibt momentan keine freien Navigationspunkte" %>


<ul id="navigations">
<% @navigations.each do |nav| %>
	<li id="<%= dom_id(nav) %>">
		<span class="sortable_handle"><%= image_tag("sort.png") %></span>
		<%= "#{nav.name} (" + (nav.navigation_template.nil? ? "eigene Seite" : nav.navigation_template.name) + ")"%>
		<%= ajax_tooltip image_tag("textfield_rename.png"), 
	                :update_url => edit_navigation_path(nav), 
	                :id => dom_id(nav, :edit) %>
		 <%= ajax_tooltip image_tag("application_go.png"), 
					:update_url => move_navigation_path(nav), 
					:id => dom_id(nav, :move) %>
		<%= access_link image_tag("application_delete.png"), 
					navigation_path(nav), 
					:method => :delete, 
					:confirm => "Soll der Navigationpunkt '#{nav.name}' wirklich gelöscht werden?" %>
	</li>
<% end %>
</ul>
<div id="update_message"></div>
<%= sortable_element("navigations", :url => update_positions_navigations_path(:template_box_id => params[:template_box_id]),
:handle => "sortable_handle") %>