<h1>Profil bearbeiten</h1>

<%= render :partial => "edit_links" %>

<% error_handling_form_for @profile do |f|%>
	<% f.fields_for @profile.user do |uf| %>
		<%= uf.text_field :nickname %>
		<%= uf.text_area :signature, :rows => 5 %>
	<% end %>
	
	<%= f.text_field :firstname %>
	<%= f.text_field :lastname %>
	<%= f.text_field :bday %>
	<%= f.text_field :icq %>
	<%= f.text_field :skype %>
	<%= f.text_field :msn %>
	<%= f.text_area :motto, :rows => 5  %>
	<%= f.text_area :hardware, :rows => 5  %>
	<%= f.text_area :interests, :rows => 5  %>
    <%= f.submit "Änderungen übernehmen" %>
<% end %>