<div style="float:left">
	<%= image_tag(@profile.profile_pic.url(:thumb)) %>
</div>
<div style="float:left">
	<div class="infobox_links">
	<%= link_to "Profil", profile_path(@profile.user.id)%>
	<%= access_link "Nachricht schreiben", new_message_path(:receiver_id => @profile.user.id)%>
	</div>
	<b>Verbindung:</b><br>
	<%= show_connection %><br>
	<%= become_friends_link @profile.user %>
</div>