<%= image_tag @profile.profile_pic.url(:thumb) %>
<br>
<%= access_link "Nachricht schreiben", new_message_path(:receiver_id => @profile.user.id)%>
<h3>Verbindung</h3>
<%= show_connection%>
<br />
<br />
Vorname: <%= @profile.firstname %> <br />
Nachname: <%= @profile.lastname %> <br />

<h3>Squads</h3>
<% @profile.user.squads.each do  |s| %>
  <%= s.name %>
<% end %>
<br />

<h3>Gruppen</h3>
<% @profile.user.groups.each do  |g| %>
  <%= show_group g %> 
<% end %>  
<br>



<h3>Freunde</h3>
<%= link_to "alle Freunde", friend_path(@profile.user)%>
<% @profile.user.friends.each do  |f| %>
  <%= show_user f %> 
<% end %>
<br />
<br />
<%= show_comments @profile %>