<div class="profile">
<div class="avatar">
        <%= image_tag @profile.profile_pic.url(:thumb) %><br />		
        <%= access_link "Nachricht schreiben", new_message_path(:receiver_id => @profile.user.id)%>
		<%= become_friends_link @profile.user%>
		<%= link_to "alle Freunde", friend_path(@profile.user)%>
</div>

	<h1 class="name">
		<%= "#{@profile.firstname} '#{@profile.user.nick}' #{@profile.lastname}" %>
	</h1>
    <dl>
		<%= show_profile_prop("motto")%>
		<%= show_profile_prop("bday", "l")%>
		<%=	show_profile_prop("icq")%>
		<%=	show_profile_prop("msn")%>
		<%=	show_profile_prop("skype")%>
		<%=	show_profile_prop("interests")%>
		<%=	show_profile_prop("hardware")%>
		<%=	show_profile_prop("created_at", "time_ago_in_words")%>
    </dl>

    <h3>Verbindung</h3>
    <%= show_connection%>

    <h3>Clans</h3>                    
    <ul>
		<% @profile.user.clans.each do  |c| %>
		  <li><%= link_to image_tag(c.clan_pic.url(:thumb), :width => 30, :height => 30) + c.name, clan_path(c, :subdomain => false) %>
			<div>Squads: <% @profile.user.squads_in_clan(c).each do |s| %> <%= s.name %> <% end %></div></li>
		<% end %>
    </ul>


    <h3>Gruppen</h3>
    <ul>
		<% @profile.user.groups.each do  |g| %>
		  <li><%= link_to image_tag(g.group_pic.url(:thumb), :width => 30, :height => 30) + g.name, :controller => "groups", :action => "show", :id => g.id %>
			<div><%= g.groupmemberships_count %> Member - dabei seit <%= time_ago_in_words g.created_at %></div></li>
		<% end %>
    </ul>


    <h3>Freunde</h3>
    <ul>
		<% @profile.user.friends.each do  |f| %>
		  <li><%= image_tag(f.profile.profile_pic.url(:thumb), :width => 30, :height => 30) + username(f) %>
		<div>befreundet seit <%= time_ago_in_words f.friendship(@current_user).created_at %></div></li>
		<% end %>
    </ul>
    
    
    <h3>Gemeinsame Freunde</h3>
    <ul>
		<% (@friends_of_both || []).each do  |f| %>
		  <li><%= username f %>
			befreundet seit <%= time_ago_in_words f.friendship(@current_user).created_at %></li>
		<% end %>
    </ul>
</div>
<%= show_comments @profile %>
