<h3>Verbindung</h3>
<% if @profile.user == @current_user %>
  <p>Dies bist du selber</p>
<% end %>
<% if @connection == "direct" %>
  <%= show_user @profile.user %> -> <%= show_user @current_user %>
<% elsif @connection == "indirect" %>
  <%= become_friends_link @profile.user %> <br />
  <%= show_user @profile.user %> -> <%= show_user @friend_of_both %> -> <%= show_user @current_user %>
<% elsif @connection == "none" %>
  <%= become_friends_link @profile.user %> <br />
  Keine Verbindung
<% end %>

<br />
<br />
Vorname: <%= @profile.firstname %> <br />
Nachname: <%= @profile.lastname %> <br />

<h3>Squads</h3>
<% @profile.user.squads.each do  |s| %>
  <%= s.name %>
<% end %>
<br />

<h3>Gruppen</h3>
<% @profile.user.groups.each do  |g| %>
  <%= show_group g %> 
<% end %>  
<br>



<h3>Freunde</h3>
<% @profile.user.friends.each do  |f| %>
  <%= show_user f %> 
<% end %>  
<br />
<br />
<%= show_comments @profile %>