<li id=<%= dom_id(template_box, :edit) %>>
    <%= template_box.name %> <i><%= template_box.template_box_type.name %></i>

    <%= ajax_tooltip image_tag("textfield_rename.png"), :update_url => {:action => "edit", :template_box_id => template_box.id}, :id => dom_id(template_box, :rename)  %>

<% if template_box.template_area.is_addable? %>
    <%= ajax_tooltip image_tag("application_add.png"), :update_url => {:action => "new", :template_area_id => template_box.template_area.id}, :id => dom_id(template_box, :new_box)  %>
<% end %>
    <%= ajax_tooltip image_tag("application_go.png"), :update_url => {:action => "move", :template_box_id => template_box.id, :template_area_id => template_box.template_area_id}, :id => dom_id(template_box, :move) %>

    <% if template_box.template_box_type.editable? %>
      <%= ajax_tooltip image_tag("application_edit.png"), 
                :update_url => {:controller => template_box.template_box_type.internal_name, 
                                :action => "edit_box", 
                                :template_box_id => template_box.id}, 
                :id => dom_id(template_box, :edit) %>
    <% end %>

    <%= link_to image_tag("application_delete.png"), { :action => "delete", :template_box_id => template_box.id}, :confirm => "Soll die Box '#{template_box.name}' wirklich gelöscht werden?" %>
</li>