<li id="<%= dom_id(template_box, :edit) %>"  style="position: relative;">
    
<span class="sortable_handle"><%= image_tag("sort.png") %>
<%= template_box.name %> <em><%= template_box.template_box_type.name %></em></span>

    <%= ajax_tooltip image_tag("textfield_rename.png"), :update_url => {:action => "edit", :template_box_id => template_box.id}, :id => dom_id(template_box, :rename), :link_class => "first"  %>

    <%= ajax_tooltip image_tag("application_go.png"), :update_url => {:action => "move", :template_box_id => template_box.id, :template_area_id => template_box.template_area_id}, :id => dom_id(template_box, :move) %>

    <% if template_box.template_box_type.editable? %>
      <%= ajax_tooltip image_tag("application_edit.png"), 
                :update_url => {:controller => template_box.template_box_type.internal_name, 
                                :action => "edit_box", 
                                :template_box_id => template_box.id}, 
                :id => dom_id(template_box, :edit)  unless template_box.template_box_type.edit_in_new_window? %>

	  <%= access_link image_tag("application_edit.png"), 
	              :controller => template_box.template_box_type.internal_name, 
	              :action => "edit_box", 
	              :template_box_id => template_box.id if template_box.template_box_type.edit_in_new_window? %>
    <% end %>

    <%= access_link image_tag("application_delete.png"), { :action => "delete", :template_box_id => template_box.id}, :confirm => "Soll die Box '#{template_box.name}' wirklich gelöscht werden?" %>
</li>