<div id="list_<%= dom_id(template_area) %>">  
  <h3 style="margin-bottom:0px"><%= template_area.name %>
	<% if template_area.is_addable? %>
	    <%= ajax_tooltip image_tag("application_add.png", :class => "icon"), :update_url => new_box_path(:template_area_id => template_area.id), :html => {:method => :get}, :id => dom_id(template_area)  %>
	<% else %>
	  <small>darf nur eine Box beinhalten</small>
	<% end %>
	</h3> 



  <ul id="<%= dom_id(template_area, :edit) %>" class="edit_list" style="margin-top:2px">
    <%= render :partial => "template_box", :collection => template_area.template_boxes %>
  </ul>
  <%= sortable_element(dom_id(template_area, :edit), :url => {:action => :update_positions, :id => template_area.id},  :handle => "sortable_handle") %>
</div>
