<div id="list_<%= dom_id(template_area) %>">  
  <b><%= template_area.name %></b> 

<% if template_area.is_addable? %>
    <%= ajax_tooltip image_tag("application_add.png"), :update_url => new_box_path(:template_area_id => template_area.id), :html => {:method => :get}, :id => dom_id(template_area)  %>
<% else %>
  <i><small>darf nur eine Box beinhalten</small></i>
<% end %>

  <ul id=<%= dom_id(template_area, :edit) %>>
    <%= render :partial => "template_box", :collection => template_area.template_boxes %>
  </ul>
  <%= sortable_element(dom_id(template_area, :edit), :url => {:action => :update_positions, :id => template_area.id},  :handle => "sortable_handle") %>
</div>
