<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title><%= @site.site_title %></title>

<%= javascript_include_tag :defaults%>
<%= stylesheet_link_tag "d02/layout" %>
<%= stylesheet_link_tag "d02/style" %>
<%= include_tiny_mce_if_needed %>
<%= yield :header_tags %>

</head>

<body>
<div class="wrapper">
  <div class="top">
  		<div class="top_left"><%= @site.page_text_1 %></div>
        <div class="top_center"><span><%= @site.page_text_2 %></span></div>
      	<div class="top_right"><span><%= @site.page_text_3 %></span></div>
    </div>
    <div class="logo"><span><%= @site.page_title %></span></div>


    <div class="navi_left">
	
		<% get_boxes_for("leftside").each do |b| %>
			<p class="navi_cat"><%= b.name %></p>
		    <%= create_box(b,["<p class=\"navi_list\">","</p>"]) %>
		<% end %>
		
    </div>
    <div class="content">

	<div class="clear_left">
		
	  <div style="padding: 5px">
		<%= show_notice_and_error %>
		<%= yield %>
	  </div>
	
	</div>
	
	</div>
	
    <div class="navi_two">
            <% get_boxes_for("first_rightside").each do |b| %>
				<p class="navi_cat"><%= b.name %></p>
			    <%= create_box(b,["<p class=\"navi_list\">","</p>"]) %>
			<% end %>

		</div>
        <div class="navi_right">
            <% get_boxes_for("second_rightside").each do |b| %>
				<p class="navi_cat"><%= b.name %></p>
			    <%= create_box(b,["<p class=\"navi_list\">","</p>"]) %>
			<% end %>
		</div>
</div>
</body>

</html>