<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title><%= @site.site_title %></title>

		<%# bundle do %>
		  <%= javascript_include_tag :defaults%>
		  <%= stylesheet_link_tag "d11/layout" %>
		  <%= stylesheet_link_tag "d11/style" %>
		  <%= include_tiny_mce_if_needed %>
		  <%= yield :header_tags %>
		<%# end %>
</head>

<body>

  <div class="wrapper">




     <div class="logo">
        <div class="logo_top_left">Willkommen</div>
        <div class="logo_top_right">Willkommen</div>
        <div class="logo_text">Willkommen</div>
        <div class="logo_subnavi">Willkommen</div>
     </div>

     <div class="lap">&nbsp;</div>
     <div class="box">
        <p class="box_main"><span>hello</span></p>
        <p class="box_cat"><span>test</span></p>
        <p class="box_list"><span>main</span></p>
        <p class="box_list"><span>main</span></p>
        <p class="box_list"><span>main</span></p>
        <p class="box_list"><span>main</span></p>
        <p class="box_list"><span>main</span></p>
        <p class="box_cat"><span>test</span></p>
        <p class="box_list"><span>main</span></p>
        <p class="box_list"><span>main</span></p>
        <p class="box_list"><span>main</span></p>
        <p class="box_list"><span>main</span></p>
        <p class="box_list"><span>main</span></p>
        <p class="box_cat"><span>test</span></p>
        <p class="box_list"><span>main</span></p>
        <p class="box_list"><span>main</span></p>
        <p class="box_list"><span>main</span></p>
        <p class="box_list"><span>main</span></p>
        <p class="box_list"><span>main</span></p>
     </div>
     <div class="modul">

      <div class="modul_box">
        <p class="modul_box_cat">welcome</p>
        <p class="modul_box_list">wir gehen online</p>
        <p class="modul_box_list">wir gehen online</p>
        <p class="modul_box_list">wir gehen online</p>
        <p class="modul_box_list">wir gehen online</p>
      </div>
      <div class="modul_box">
        <p class="modul_box_cat">welcome</p>
        <p class="modul_box_list">wir gehen online</p>
        <p class="modul_box_list">wir gehen online</p>
        <p class="modul_box_list">wir gehen online</p>
        <p class="modul_box_list">wir gehen online</p>
      </div>
      <div class="content">

       <div class="content_title">
                    <div class="content_title_text">//NEWS</div>
                    <div class="content_title_text2">Hier steht die Headline</div>
                    <div class="content_title_text3">on 19:20 at 27.02.2009</div>
       </div>
       <div class="content_box_start">
        <div class="img">
            <div class="img_text">UNREAL</div>
            <div class="img_text2">+ Game News</div>
        </div>

       Mit Registerkarten können Sie:
Ein Internet Explorer-Fenster zum Anzeigen aller Webseiten verwenden
Links auf einer Registerkarte im Hintergrund öffnen, während eine andere Webseite angezeigt wird
Mehrere Webseiten gleichzeitig speichern und öffnen, indem Sie die Favoriten- und Startseitenregisterkarten verwenden


Erste Schritte:
Drücken Sie die STRG-Taste beim Klicken auf Links (oder verwenden Sie die mittlere Maustaste).
Klicken Sie mit der mittleren Maustaste auf eine Registerkarte, um sie zu schließen.
Drücken Sie ALT+Eingabe in der Adressleiste oder im Suchfeld, um ein Ergebnis in einer neuen Registerkarte zu öffnen.
</div>
        <div class="content_box_comment">
                <div class="content_box_comment_text"><b>Quellen:</b> leexo.de</div>
                <div class="content_box_comment_text2">Author: beckstar</div>
        </div>

        <p class="content_box_end">&nbsp;</p>

         <div class="content_title">
                    <div class="content_title_text">//NEWS</div>
                    <div class="content_title_text2">Hier steht die Headline</div>
                    <div class="content_title_text3">on 19:20 at 27.02.2009</div>
       </div>
       <div class="content_box_start">
        <div class="img">
            <div class="img_text">UNREAL</div>
            <div class="img_text2">+ Game News</div>
        </div>

       Mit Registerkarten können Sie:
Ein Internet Explorer-Fenster zum Anzeigen aller Webseiten verwenden
Links auf einer Registerkarte im Hintergrund öffnen, während eine andere Webseite angezeigt wird
Mehrere Webseiten gleichzeitig speichern und öffnen, indem Sie die Favoriten- und Startseitenregisterkarten verwenden


Erste Schritte:
Drücken Sie die STRG-Taste beim Klicken auf Links (oder verwenden Sie die mittlere Maustaste).
Klicken Sie mit der mittleren Maustaste auf eine Registerkarte, um sie zu schließen.
Drücken Sie ALT+Eingabe in der Adressleiste oder im Suchfeld, um ein Ergebnis in einer neuen Registerkarte zu öffnen.
</div>
        <div class="content_box_comment">
                <div class="content_box_comment_text"><b>Quellen:</b> leexo.de</div>
                <div class="content_box_comment_text2">Author: beckstar</div>
        </div>

        <p class="content_box_end">&nbsp;</p>

      </div>
      <p style="margin: 0px;">&nbsp;</p>
     </div>
     <div class="box_right">

        <p class="box_right_cat">our clan</p>
        <p class="box_right_start"></p>
        <div class="box_right_content">welcome</div>
        <p class="box_right_end"></p>
        <p class="box_right_cat">our clan</p>
        <p class="box_right_start"></p>
        <div class="box_right_content">welcome</div>
        <p class="box_right_end"></p>
        <p class="box_right_cat">our clan</p>
        <p class="box_right_start"></p>
        <div class="box_right_content">welcome</div>
        <p class="box_right_end"></p>

     </div>
     <div class="lap2"></div>
  </div>



</body>

</html>