<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title><%= @site.site_title %></title>

		<%# bundle do %>
		  <%= javascript_include_tag :defaults%>
		  <%= stylesheet_link_tag "d12/layout" %>
		  <%= stylesheet_link_tag "d12/style" %>
		  <%= include_tiny_mce_if_needed %>
		  <%= yield :header_tags %>
		<%# end %>
</head>

<body>


<div class="wrapper">

    <div class="logo">
        <div class="logo_top"><%= @site.page_text_1 %></div>
        <div class="logo_text"><%= @site.page_title %></div>
        <div class="logo_sub"><%= show_breadcrumb %></div>
    </div>
    <div class="cats">

        <div class="cat_title"><%= get_boxes_for("leftside", true).first.name %></div>
        <div class="cat_title_content"><%= @site.page_text_2 %></div>
        <div class="cat_title_left"><%= get_boxes_for("rightside1", true).first.name %></div>
        <div class="cat_title_right"><%= get_boxes_for("rightside2", true).first.name %></div>

    </div>

    <div class="box">

		<% get_boxes_for("leftside").each do |b| %>
			<% unless get_boxes_for("leftside").first.id == b.id %>
				<div class="box_cat"><%= b.name %></div>
			<% end %>
			<p class="box_content"><span>
		    	<%= create_box(b) %>
			</span></p>
		<% end %>

    </div>
    <div class="content">

     <%= show_notice_and_error %>
	 <%= yield %>

    </div>
    <div class="box2">

		<% get_boxes_for("rightside1").each do |b| %>
			<% unless get_boxes_for("rightside1").first.id == b.id %>
				<div class="box2_cat"><%= b.name %></div>
			<% end %>
			<p class="box2_content"><span>
		    	<%= create_box(b) %>
			</span></p>
		<% end %>
    </div>
 
    <div class="box3">
		<% get_boxes_for("rightside2").each do |b| %>
			<% unless get_boxes_for("rightside2").first.id == b.id %>
				<div class="box3_cat"><%= b.name %></div>
			<% end %>
			<p class="box3_content"><span>
		    	<%= create_box(b) %>
			</span></p>
		<% end %>
    </div>

    <div class="footer"></div>


</div>

</body>

</html>