<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title><%= @site.site_title %></title>

		<%# bundle do %>
		  <%= javascript_include_tag :defaults%>
		  <%= stylesheet_link_tag "d14/layout" %>
		  <%= stylesheet_link_tag "d14/style" %>
		  <%= include_tiny_mce_if_needed %>
		  <%= yield :header_tags %>
		<%# end %>
</head>

<body background="images/bg.gif">


<div class="wrapper">

        <div class="top">
        
        	<div class="top_left">bal</div>
            <div class="top_middle">
            	<div class="top_middle_text">hallo</div>
                <div class="top_middle_text2">hallo</div>
            </div>
            <div class="top_right">bal</div>
        
        </div>
        <div class="logo">
        				<span>welc</span>
         </div>

        <div class="box">

         <p class="box_cat"><span>NAVIGATION</span></p>
         <p class="box_list"><span>- Link</span></p>
         <p class="box_list"><span>- Link</span></p>
         <p class="box_list"><span>- Link</span></p>
         <p class="box_list"><span>- Link</span></p>
         <p class="box_cat"><span>NAVIGATION</span></p>
         <div class="box_content">Mit Registerkarten können Sie:
Ein Internet Explorer-Fenster zum Anzeigen aller Webseiten verwenden
Links auf einer Registerkarte im Hintergrund öffnen, während eine andere Webseite angezeigt wird
Mehrere Webseiten gleichzeitig speichern und öffnen, indem Sie die Favoriten- und Startseitenregisterkarten verwenden </div>
        </div>
        
        <div class="content">

            <div class="subnavi">
                    <p class="subnavi_text"><span>lolololol</span></p>
                    <p class="subnavi_text"><span>lolololol</span></p>
                    <p class="subnavi_text"><span>lolololol</span></p>
                    <p class="subnavi_text"><span>lolololol</span></p>
                    <p class="subnavi_text"><span>lolololol</span></p>
            </div>
            <p>&nbsp;</p>
            
            <div class="content_box">
            <div class="img"></div>
            <div class="content_box_content">Mit Registerkarten können Sie:
Ein Internet Explorer-Fenster zum Anzeigen aller Webseiten verwenden
Links auf einer Registerkarte im Hintergrund öffnen, während eine andere Webseite angezeigt wird
Mehrere Webseiten gleichzeitig speichern und öffnen, indem Sie die Favoriten- und Startseitenregisterkarten verwenden</div>
            </div>
            
            <br />
            <div class="content_box">
            <div class="img"></div>
            <div class="content_box_content">Mit Registerkarten können Sie:
Ein Internet Explorer-Fenster zum Anzeigen aller Webseiten verwenden
Links auf einer Registerkarte im Hintergrund öffnen, während eine andere Webseite angezeigt wird
Mehrere Webseiten gleichzeitig speichern und öffnen, indem Sie die Favoriten- und Startseitenregisterkarten verwenden</div>
            </div>
            <br /><br />
        </div>

        <div class="box">


         <p class="box_cat"><span>NAVIGATION</span></p>
         <div class="box_content2">Mit Registerkarten können Sie:
Ein Internet Explorer-Fenster zum Anzeigen aller Webseiten verwenden
Links auf einer Registerkarte im Hintergrund öffnen, während eine andere Webseite angezeigt wird
Mehrere Webseiten gleichzeitig speichern und öffnen, indem Sie die Favoriten- und Startseitenregisterkarten verwenden </div>

		<p class="box_cat"><span>NAVIGATION</span></p>
         <div class="box_content2">Mit Registerkarten können Sie:
Ein Internet Explorer-Fenster zum Anzeigen aller Webseiten verwenden
Links auf einer Registerkarte im Hintergrund öffnen, während eine andere Webseite angezeigt wird
Mehrere Webseiten gleichzeitig speichern und öffnen, indem Sie die Favoriten- und Startseitenregisterkarten verwenden </div>
        </div>
         <p></p>
          <div class="footer"><br /><br />Copyright<br /><br /></div>

</div>

</body>

</html>