<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Depiction Template by Knightmare @ Clantemplates.com</title>
    <script type="text/javascript" > 
      <!-- 
      function ctRoster(usrName) 
      {	
        var div = document.getElementById("roster_data");
        var textnode = document.createTextNode(usrName);
        div.appendChild(textnode);
      }
      function ctRosterClean() 
      {
        var label = document.getElementById("roster_data")
        while( label.hasChildNodes() ) { label.removeChild( label.lastChild ); }  
        } 
        // --> 
    </script>
    <%# bundle do %>
      <%= javascript_include_tag :defaults%>
      <%= stylesheet_link_tag "calendar/grey/style.css" %>
      <%= stylesheet_link_tag "dnp" %>
      <%# javascript_include_tiny_mce_if_used %>
      <%# tiny_mce if using_tiny_mce? %>
      <!-- page specific tags --><%= yield :header_tags %>
    <%# end %>
  </head>
  <body>
  <!-- Main wrapper -->
  <div id="wrap">
	  <div id="header">
		  <div id="innerheader">
			  <h1><span>Site Created by Knightmare @ ClanTemplates.com</span></h1>
			  <% get_boxes_for("topnav").each do |b| %>
                              <%= create_box b %>
                          <% end %>

                </div>
	</div>
		<div id="content">
		  <div class="side_column">
                        <% get_boxes_for("linke_seite").each do |b| %>
                          <h1><small><%= b.name %></small></h1>
                          <%= create_box b %>
                        <% end %>
		  </div>
		  <!-- END LEFT COLUMN -->
		  <div id="middle" >
			  <div id="breadcrum">Home > Demos >> DOD</div>
			    <h1>Welcome to OurSite</h1>
			    <!-- ENTER MAIN CONTENT HERE -->
                            
<%if flash[:notice]%><p style="color: green"><%= flash[:notice] %></p>
<%end%>
<%if flash[:error]%><p style="color: red"><%= flash[:error] %></p>
<%end%>
			    <div class="content">
			      <%= yield %>
			    </div>
			    <!-- END MAIN CONTENT -->
		    </div>
		    <div class="side_column" id="right">
		        <% get_boxes_for("rechte_seite").each do |b| %>
                          <h1><small><%= b.name %></small></h1>
                          <%= create_box b %>
                        <% end %>
		    </div>
	    </div>
      <div id="footer">
		    <p>Copright 2006 &copy; ClanTemplates.com - Designed by Knightmare - Coded by Opserty</p>
	    </div>
    </div>
  </body>
</html>